*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --text:#444;
    --white:#fff;
    /* --nite:#104f55; */
    --nite:rgb(167, 28, 120);
    --seco: rgb(64, 121, 120);
    --poppins:'poppins',sans-serif;

    --gradient: linear-gradient(90deg, rgb(242, 63, 248) 20%, rgb(155, 42, 221) 100%);
}

/* Global Styling */
ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #444;
}

h2 {
    font-family: 'Montaga';
}

img {
    max-width: 100%;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn {
    font-family: 'montserratt';
    margin-top: 1.5rem;
    color: #fff;
    padding: 10px 35px;
    border-radius: 12px;
    border: none;
    /* background: rgb(248,156,63); */
    background: var(--seco);
    cursor: pointer;
    font-size: 1.5rem;
    transition: .3s ease;
}

.btn:hover {
    background-color: rgb(41, 85, 84);
}

#cta {
    background: var(--gradient);
}

.active {
    color: var(--nite);
}

.text-grey {
    color: var(--text);
}

p {
    font-family: 'montaga';
    color: var(--text);
}

body {
    font-family: var(--poppins);
    overflow-x: hidden;
}

#top {
    position: relative;
    background-image: url("../assets/Background-image.png");
    background-size: cover;
    background-position: top;
    background-origin: border-box;
    width: 100%;
    height: 120vh;
}

#top .nav-container {
    width: 100%;
    background-color: var(--white);
}

#top nav{
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 12vh;
    background-color: var(--white);
    justify-content: space-around;
    align-items: center;
}

nav .logo a{
    font-size: 2rem;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-mode: transparent;
    /* background: rgb(248,156,63); */
    /* background: linear-gradient(90deg, rgba(248,156,63,1) 20%, rgba(221,42,123,1) 100%); */
    font-weight: 600;
    font-family: var(--poppins);
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li:hover a{
    color: var(--nite);
}

nav ul li a {
    /* border: 1px solid #222; */
    font-size: 1rem;
    color: var(--text);
    padding: 12px 30px;
    transition: all .2s ease-in;
}

/* .social-links span {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.75rem;
    width: 1.5rem;
    background-color: #444;
    border-radius: 12px;
} */

.social-links i {
    margin: 0 5px;
    font-size: 1.12rem;
    cursor: pointer;
}

.social-links i:nth-child(1) {
    color: #3b5998;
}
.social-links i:nth-child(2) {
    /* background: #d6249f; */
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 0%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-mode: transparent;
    /* box-shadow: 0px 3px 10px rgba(0,0,0,.25); */
}
.social-links i:nth-child(3) {
    color:#298cdd;
}
.social-links i:nth-child(4) {
    color: #cd201f;
}

nav .collapse-menu {
    display: none;
}

nav .collapse-menu i {
    font-size: 1.75rem;
    cursor: pointer;
}

.banner {
    color: #fff;
    position: relative;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* transition:all .3s cubic-bezier(1, 0.01, 0.11, 0.98); */
}

.banner .banner-text h3 {
    font-weight: 300;
    font-size: 1.5em;
    font-family: 'Montserratt';
}
.banner .banner-text h1 {
    font-size: 3rem;
}
.banner .banner-text {
    margin-bottom: 1.25em;
}

.btn-header i{
    display: none;
}
.btn-header:hover i {
    display: inline;
    margin-left: .8em;
}



/* Header Section end --------------------------------------------------------------------------------------------*/



/* Blog / cards section started-----------------------------------------------------------------------------------*/

#cards .blog {
    /* background: url(../assets/Abract01.png) right no-repeat; */
    background-size: 65%;
    height: 100vh;
    width: 100%;
}

#cards .blog .blog-post {
    padding: 6rem 0;
}
#cards .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: 3rem 2rem;
    box-shadow: 5px 15px 20px rgba(0,0,0,.15);
}

#cards .blog-content .blog-title {
    padding: 2.5rem 0;
}

.blog-content .blog-title h3, .blog-content .blog-title span {
    color: var(--text);
}

#cards .blog-content span {
    display: block;
    margin-top: .8rem;
}

.container {
    /* position: relative; */
    margin: 0 5vw;
}

/* This is the custom class made in the owl library [.owl-nav] | changing the default styles of owl library*/
.container .owl-nav {
    position: absolute;
    top: 0%;
    width: 100%;
    margin: 0 auto;
}
.owl-nav .owl-prev .owl-nav-prev, .owl-nav .owl-next .owl-nav-next {
    color: var(--nite);
    background: transparent;
    font-size: 3em;
}

.owl-theme .owl-nav [class*='owl']:hover {
    background: transparent;
    color: var(--nite);
}
.owl-theme .owl-nav [class*='owl'] {
    outline: none;
}

/* Blog / cards section started-----------------------------------------------------------------------------------*/


/*Site Content ---------------------------------------------------------------------------------------------------*/

#post-container .site-content {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:70% 30%;
}

#post-container .site-content .post-content {
    margin-bottom: 1rem;
}

#post-container .site-content .post-content > .post-image, .post-title {
    position: relative;
    padding: 1rem 2rem;
}
#post-container .site-content .post-content > .post-image .post-info {
    background-color: var(--seco);
    padding: 1rem 1.5rem;
    position: absolute;
    bottom: 0;
    left: 15vw;
    border-radius: 35px;
    color: var(--white);
}
/* This is set to overflow:hidden because when we scale the img on hover effect -- it goes outside its container ...
so since we dont want that we set the overflow to hidden so it will behave exactly as we want it to be */
#post-container .site-content .post-content > .post-image > div {
    overflow: hidden;
}
#post-container .site-content .post-content > .post-image .img {
    transition: .5s ease-in-out;
    width: 100%;
}

#post-container .site-content .post-content > .post-image .img:hover {
    transform: scale(1.1);
}

#post-container .site-content .post-content > .post-image .post-info span {
    margin: 0 .5rem;
}
#post-container .site-content .post-content .post-title a {
    /* font-family: var(--anton); */
    font-family: 'Acme';
    font-size: 1.75rem;
}

/* Pagination ------------- */
#post-container .site-content .pagination{
    justify-content: center;
    margin: 4rem 0;
}

#post-container .site-content .pagination a {
    padding: .6rem .9rem;
    margin: 0 .5rem;
    border-radius: 50rem;
    font-family: 'nunito sans';
}
#post-container .site-content .pagination a.pages {
    background: var(--text);
    color: var(--white);
    font-style: normal;
}


/* Sidebar ------------------------------------ */
#post-container .site-content .sidebar .category-list{
    font-family: 'acme';
    margin-left: 2rem;
    margin-top: 1rem;
}

/* #post-container .site-content */
.site-content > .sidebar .category-list .list-items {
    background-color: var(--seco);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius:2rem;
    color: var(--white);
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.site-content > .sidebar .category-list .list-items a {
    color: var(--white);
}

/* Popular Posts Section ----------------------------------------- */
.site-content .sidebar .popular-posts .post-content {
    width: 100%;
    padding: 1rem 0;
}

.site-content .sidebar .popular-posts h2 {
    padding-top: 8rem;
}
/* Code that doesn't make anu sense to me now */
.site-content .sidebar .popular-posts .post-info {
    padding: .1rem .1rem !important;
    bottom: 1rem !important;
    left: 2rem !important;
    border-radius:0rem !important;
}

.site-content .sidebar .popular-posts .post-title a {
    font-size: 1rem !important;
} 

/* Newsletter ---------------------------------------*/
.site-content .sidebar .newsletter {
    padding-top: 15rem;
}

.site-content .sidebar .newsletter h2 {
    font-size: 2rem;
    font-family: 'Montaga';
}

.site-content .sidebar .newsletter form {
    padding: 2rem 0rem;
}

.site-content .sidebar .newsletter form #email {
    font-size: 1rem;
    width: 100%;
    padding: .8rem 1rem;
    border: 1px solid #bbb;
}

.site-content .sidebar .newsletter form .btn-newsletter {
    width: 100%;
    border-radius:0;
}

/* popular tags -------------------------------------- */
.site-content .sidebar .popular-tags {
    padding-top: 3rem;
}

.site-content .sidebar .popular-tags .tags {
    display: flex;
    flex-wrap: wrap;
}

.site-content .sidebar .popular-tags h2{
    padding-bottom  : 2rem;
}

.site-content .sidebar .popular-tags .tags .tag {
    background-color: var(--seco);
    padding: 1rem;
    color: var(--white);
    line-height: .3rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}

/* Footer Section ------------------------------------------------------------------------------------------------ */
footer {
    position: relative;
    height: 100%;
    background-color: rgb(15, 15, 15);
}

footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer .container > div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem 1rem;
}

footer .container h2 {
    font-size: 1.75rem;
    font-family: 'Montserratt';
    color: var(--white);
    padding-bottom: 1rem;
}

footer .container p {
    color: rgb(148, 148, 148);
}

footer .container .newsletter input {
    padding: .6rem 1rem;
    margin-top: 1rem;
    width: 80%;
    border: none;
}

footer .container .newsletter button {
    /* height: 2.25rem;
    width: 2rem;
    font-size: 1rem; */
    padding: .5rem .8rem .55rem;
    cursor: pointer;
}

footer .container .instagram div > img {
    width: 25%;
    margin: .5rem;
}

footer .container .follow div{
    margin-top: 2rem;
}

footer .container .follow div i {
    margin: 0 .8rem;
    font-size: 1.5rem;
}

footer .right-side {
    padding: 1.5rem;
    justify-content: center;
}

footer .right-side h4 a {
    color: var(--seco);
}

/* back to top */
footer .to-top {
    position: absolute;
    right: 5%;
    top: 60%;
}

footer .to-top span {
    color: var(--seco);
    transition: all .2s ease;
}

footer .to-top span:hover {
    color: var(--nite);
    cursor: pointer;
    /* transform-origin: center; */
    /* transform: scale(1.5); */
    font-size: 1.1rem;
}




/* Media queries */

@media screen and (max-width:1024px) {
    #navbar {
        display: inline;
    }
    #nav-menu {
        display: none;
    }
    #top nav {
        justify-content: space-between;
    }
    nav .social-links {
        display: none;
    }
    nav .collapse-menu {
        display: inline;
    }

    
}